<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <title>使用v-model实现数据双向绑定</title>
</head>

<body>
    <div id="app">
        <h4>{{ msg}}</h4>

        <!-- v-bind 只能实现从M到V的单向数据绑定 -->
        <!-- <input type="text" :value="msg"> -->

        <!-- v-model 可以实现表单元素和Model中数据的双向绑定（v-model只能使用在表单元素） -->
        <input type="text" v-model:value="msg">
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: "唧唧复唧唧，木兰开飞机"
            },
            methods: {},
        })
    </script>
</body>

</html>